section.lw-page-top.lw-section.request
  .container
    .request__wrapper
      h2.lw-text-lg.lw-colored-text Давайте работать вместе <span>над&nbsp;следующим проектом</span>
      p.lw-text-sec.lw-fw-light Оставьте свой номер телефона, и мы свяжимся с вами.

      form(action="#")
        fieldset
          label(for="user_name" class="visually-hidden") Ваше имя:
          input(type="text" id="user_name" name="user_name" placeholder="Ваше имя")
        fieldset
          label(for="user_phone" class="visually-hidden") Ваш контактный номер:
          input(type="tel" id="user_phone" name="user_phone" placeholder="Ваш контактный номер")

        button(type="button").lw-button-main.lw-button-filtered Оставить заявку
