.article-preview-card {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    overflow: hidden;
    //@extend .blur-mask;

    picture {
      @extend .flex-centered-content;
      @extend .blur-mask;
    }

    img {
      width: 100%;
      transition: transform var(--slow-t-rules);
    }
  }

  &__body {
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
      border-bottom: 1px solid var(--white-color);

      span {
        position: relative;
        display: inline-block;
        padding-left: 16px;
        text-transform: uppercase;
        letter-spacing: 0.1em;

        &::before {
          position: absolute;
          top: 9px;
          left: 0;
          content: '';
          width: 8px;
          height: 8px;

          background-color: var(--white-color);
          border-radius: 50%;
        }
      }
    }

    &-title {
      padding: 24px 0 13px;
      a {
        color: var(--white-color);
      }
    }
  }

  &__footer {
    margin-top: auto;

    a {
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      background: linear-gradient(90deg, #F5DFA0 0%, #EC9A29 68.75%), #EC9A29;

      background-clip: text;
      //text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      svg {
        margin-left: 20px;
        fill: var(--warning-color);
      }
    }
  }

  &:hover,
  &:focus {
    .article-preview-card__header {
      & picture::before {
        @extend .blur-mask-hovered;
      }

      img {
        transform: scale(1.1);
      }
    }
  }
}
