.footer-logo {
  @extend .flex-column;
  @extend .flex-centered-content;
  padding: 0 10px;

  a {
    @extend .flex-centered-content;
    margin-bottom: 10px;
  }

  span {
    font-size: 16px;
  }
}
