.footer-nav {
  @extend .flex-wrap;
  margin-bottom: 30px;

  @include m-b-tablet-lg-down {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  &__item {
    flex-grow: 1;

    a {
      @extend .flex-centered-content;
      padding: 10px;
      color: var(--white-color);
    }

    @include m-b-down(575px) {
      width: 100%;
    }
  }
}
