.footer-logo {
  @extend .flex-column;
  @extend .flex-centered-content;

  @include m-b-down(824px) {
    align-items: flex-start;
  }

  @include m-b-down(376px) {
    align-items: center;
  }

  a {
    margin-bottom: 12px;
  }

  span {
    font-size: 16px;
  }
}
