.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color: var(--header-bg-color);
  z-index: 99;

  &__wrapper {
    @extend .flex-wrap;
    align-items: center;
  }

  &--main {
    .header__logo {
      svg {
        path:not(:first-child):not(:nth-child(2)) {
          display: none;
        }
      }
    }
  }

  &__logo {
    @extend .flex-centered-content;
    margin-right: auto;
    z-index: 99;

    svg {
      width: 221px;
      height: 46px;

      @include m-b-tablet-down {
        height: 43px;
        width: 190px;
      }

      @include m-b-mobile-lg-down {
        height: 36px;
      }
    }

    @extend .hover-opacity;
  }
}
