.main-header {
  position: fixed;
  padding: 30px 0;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100vw;

  &__menu {
    margin-left: auto;
    background: var(--white-color);
    border-radius: 45px;
    min-width: 115px;

    //temp
    @include m-b-tablet-down {
      display: none;
    }
  }
}
