.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);

  &.opened {
    display: block;
  }

  &__closer{
    @extend .flex-centered-content;
    position: absolute;
    top: 0;
    left: -64px;
    z-index: 2;

    stroke: var(--primary-color);
    border: none;
    padding: 0;
    background-color: var(--purple-3);

    cursor: pointer;

    @include m-b-tablet-down {
      width: 44px;
      height: 44px;

      left: -44px;
    }

    @include m-b-mobile-lg-down {
      width: 36px;
      height: 36px;

      left: -36px;
    }
  }

  &__wrapper {
    position: relative;
    left: 50vw;
    top: 0;
    background-color: var(--purple-3);
    width: 50vw;
    height: 100%;
    background-image: url("../assets/img/nav-bg@1x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -10px 0px 5px -10px rgba(34, 60, 80, 0.6);

    @include m-b-tablet-down {
      left: 25vw;
      width: 75vw;
    }

    @include m-b-mobile-lg-down {
      left: 50px;
      width: calc(100vw - 50px);
    }
  }

  &__list {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: clamp(20px, 3vw, 50px);
    padding-left: clamp(20px, 7vw, 150px);

    padding-top: 64px;

    @include m-b-tablet-down {
      padding-top: 44px;
    }

    @include m-b-mobile-lg-down {
      padding-top: 36px;
    }

    &-item {
      margin-bottom: 30px;

      a {
        position: relative;
        display: flex;
        width: fit-content;
        max-width: 100%;
        font-weight: 500;
        color: var(--primary-color);
        overflow: hidden;
        transition: padding 0.2s 0.1s ease-in;
        font-size  : clamp(20px, 5vw, 54px);
        line-height: 1;

        &::before {
          position: absolute;
          top: 50%;
          left: 0;
          width: 30px;
          height: clamp(3px, 0.6vw, 5px);
          content: '';
          background-color: var(--primary-color);
          transform: translateX(-100px);

          transition: transform 0.4s 0.1s ease-in;
        }

        &:hover,
        &:focus {
          padding-left: 50px;

          &::before {
            transform: translateX(0);
          }
        }
      }
    }
  }
}
