.service-card {
  @extend .flex-column;
  padding: 32px;

  @extend .overlay-filter;

  @include m-b-desktop-down {
    height: 100%;
  }

  svg {
    margin-bottom: 16px;
    fill: var(--purple-4);
  }

  h3 {
    margin-bottom: 8px;
  }
}
