.social {
  @extend .flex-wrap;

  &__item {
    margin-right: clamp(10px, 5vw, 30px);

    a {
      @extend .flex-centered-content;
      border: 1px solid var(--white-color);
      border-radius: 50%;
      padding: 3px;

      svg {
        width: clamp(40px, 7vw, 60px);
        height: clamp(40px, 7vw, 60px);
        fill: var(--white-color);
      }
    }
  }
}
