-
  const serviceTypes = [
    {
      icon: 'landing',
      title: 'Лендинги',
      desc: 'Короткие и&nbsp;длинные. Адаптив, скорость загрузки, микроанимации, семантика и&nbsp;SEO-френдли разметка.'
    },
    {
      icon: 'site',
      title: 'Сайт-визитка',
      desc: 'Короткие и&nbsp;длинные. Адаптив, скорость загрузки, микроанимации, семантика и&nbsp;SEO-френдли разметка.'
    },
    {
      icon: 'corp-site',
      title: 'Корпоративные сайты',
      desc: 'Короткие и&nbsp;длинные. Адаптив, скорость загрузки, микроанимации, семантика и&nbsp;SEO-френдли разметка.'
    },
    {
      icon: 'shop-site',
      title: 'Интернет магазины',
      desc: 'Короткие и&nbsp;длинные. Адаптив, скорость загрузки, микроанимации, семантика и&nbsp;SEO-френдли разметка.'
    },
    {
      icon: 'web-app',
      title: 'Web-приложения',
      desc: 'Короткие и&nbsp;длинные. Адаптив, скорость загрузки, микроанимации, семантика и&nbsp;SEO-френдли разметка.'
    },
    {
      icon: 'system-web-app',
      title: 'Системы автоматизации',
      desc: 'CRM, ERP, CMS и&nbsp;все такое...'
    },
  ]
