-
  const serviceTypes = [
    {
      icon: 'desktop-info',
      title: 'Лендинги',
      desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'
    },
    {
      icon: 'desktop-info',
      title: 'Сайт-визитка',
      desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'
    },
    {
      icon: 'desktop-info',
      title: 'Корпоративные сайты',
      desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'
    },
    {
      icon: 'desktop-info',
      title: 'Интернет магазины',
      desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'
    },
    {
      icon: 'desktop-info',
      title: 'Web-приложения',
      desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'
    },
    {
      icon: 'desktop-info',
      title: 'Системы автоматизации',
      desc: 'CRM, ERP, CMS и все такое...'
    },
  ]
