-
  const serviceFeatures = [
    {icon: 'desktop-info', title: "Наводим порядок <br/> в существующих проектах", desc: "Думаем о UX, добавляем анимации, создаем удобный адаптив,<br/> делаем редизайн, программируем необходимый функционал."},
    {icon: 'desktop-info', title: "Быстро запускаем <br/> новые проекты в&nbsp;работу", desc: " Тут поменять на примерно тоже самое!!<br/>У нас отлаженные процессы оценки проекта, согласования договора и&nbsp;NDA. Работаем с&nbsp;электронным документооборотом."},
    {icon: 'desktop-info', title: "Сокращаем расходы <br/>на производство", desc: "Тут не знаю что написать.. </br/>Стараемся быть гибкими. Подстраиваемся под ваши требования и&nbsp;процессы."}
  ]
