-
  const stuffList = [
    {
      img: 'stuff',
      name: 'Константин Константинов',
      position: 'Фронтенд-разработчик'
    },

    {
      img: 'stuff',
      name: 'Константин Константинов',
      position: 'Фронтенд-разработчик'
    },

    {
      img: 'stuff',
      name: 'Константин Константинов',
      position: 'Фронтенд-разработчик'
    },

    {
      img: 'stuff',
      name: 'Константин Константинов',
      position: 'Фронтенд-разработчик'
    },

    {
      img: 'stuff',
      name: 'Константин Константинов',
      position: 'Фронтенд-разработчик'
    },

    {
      img: 'stuff',
      name: 'Константин Константинов',
      position: 'Фронтенд-разработчик'
    }
  ]
