-
  const workflowStepList = [
    {
      title: 'Предварительно оцениваем',
      desc: 'Оцениваем проект "вилкой", определяем сложность и собираем команду, которая будет работать над проектом.'
    },

    {
      title: 'Согласовавываем <br/> все нюансы',
      desc: 'Команда внимательно изучает проект, задаёт вопросы и уточняет оценку.'
    },

    {
      title: 'Запускаем проект <br/> в работу',
      desc: 'К этому времени договор согласован, поэтому мы начинаем работу. Создаём чат для оперативного общения и добавляем туда необходимых.'
    },

    {
      title: 'Дизайним, верстаем, <br/> программируем',
      desc: 'Работаем в соответствии с утвержденными этапами работы. Показываем промежуточные результаты. При необходимости вносим корректировки.'
    },

    {
      title: 'Тестируем',
      desc: 'Перед сдачей проекта  <br/> проводим полное тестирование, исправляем недочеты и отдаём.'
    },

    {
      title: 'Сопровождаем',
      desc: 'Остаёмся на связи  <br/> и при необходимости помогаем с проектом после сдачи.'
    },
  ]
