include ../../mixins/section-header
include ../../mixins/article-preview-card

include ../../content/article-preview-cards

section.lw-page-top.lw-section.articles
  .container
    .articles__wrapper
      h1.visually-hidden Немного статей о том, как мы работаем
      +section-header({
        class: 'articles__header',
        pagename: 'Статьи',
        title: 'Вам может быть <span>интересно</span>',
        desc: ['Здесь мы делимся мыслями']
      })

      .articles__content
        ul.articles__list
          each article in articlePreviews
            li.articles__item
              +article-preview-card(article)

        button(type="button").lw-button-main.lw-button-shadow Больше статей
