-
  const articlePreviews = [
    {
      img: 'article-preview-card-1',
      date: '24.07.2022',
      link: "#",
      title: 'Система управления контентом(CMS). <br/> Что&nbsp;это&nbsp;такое и&nbsp;какую лучше выбрать&nbsp;?'
    },

    {
      img: 'article-preview-card-1',
      date: '24.07.2022',
      link: "#",
      title: 'Timeweb.com <br/> Наш хостинг&nbsp;-&nbsp;партнер.<br/>Почему&nbsp;мы выбираем&nbsp;его&nbsp;?'
    },

    {
      img: 'article-preview-card-1',
      date: '24.07.2022',
      link: "#",
      title: 'Анимации в WEB. <br/>Зачем они&nbsp;нужны и&nbsp;какую пользу&nbsp;несут&nbsp;?'
    },

  ]
