/*gsap start*/
body:not(.nojs) {
  .hero__title span {
    span {
      transform: translateY(120%);
    }
  }

  .hero__desc {
    opacity: 0;
  }

  .main-header {
    opacity: 0;
  }

  .hero__btn {
    width: 20px;
    transform: translateY(100vh);
    span {
      opacity: 0;
    }
  }

  .hero__logo {
    opacity: 0;
    transform: translateY(50px);
  }
}
/*gsap end*/
