/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base
    --main-font-family: "MontserratAlternates", sans-serif;
    --sec-font-family: "Lato", sans-serif;
    --content-width: 1410px;
    --content-fluid-width: 1720px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

    // colors

    //--light-color         : #947bfb;
    --accent-color        : #d52027;

    --primary-color       : #10164a;
    --secondary-color     : #8468f6;

    //--success-color       : #28a745;
    --warning-color       : #ec9a29;
    //--danger-color        : #dc3545;

    --white-color         : #ffffff;
    --black-color         : #000000;

    --purple-1: var(--primary-color);
    --purple-2: #5030d4;
    --purple-3: #8468f6;
    --purple-4: #947bfb;
    --purple-5: #2B209B;
    --purple-6: #7672FF;
    --purple-7: #151B53;

    --main-bg-color       : var(--primary-color);
    --primary-text-color  : var(--white-color);

    // scrollbar
    --main-scrollbar-width: 6px;
    --main-scrollbar-color: var(--primary-4);
    --main-scrollbar-thumb-color: var(--purple-4);

    // text-sizes
    --text-xxl : clamp(36px, 7.5vw, 80px);
    --text-xl  : clamp(28px, 5vw, 54px);
    --text-lg  : clamp(24px, 4vw, 40px);
    --text-md  : clamp(16px, 3.5vw, 28px);
    --text-primary  : clamp(16px, 2vw, 24px);
    --text-sm  : clamp(16px, 3vw, 20px);
    --text-xs  : clamp(14px, 3vw, 18px);
    --text-xxs : 12px;

    //buttons

    --btn-height: clamp(44px, 6.5vw, 56px);

    //transition
    --main-t-rules: 0.25s 0.05s ease;
    --slow-t-rules: 0.8s 0.1s linear;

    // clip=paths
    --hero-block-clip: circle(98.6% at 100% -16%);
  }
