.articles {
  &__wrapper {
    @extend .section-padding-lg;
  }

  &__content {
    @extend .flex-column;
    @extend .section-mb-50;
    align-items: center;

    button {
      min-width: 260px;
    }

    .blob {
      &--left {
        top: 50%;
        left: -5%;

        @include m-b-mobile-lg-down {
          left: -20%;
        }
      }

      &--right {
        top: 15%;
        left: 75%;
      }
    }
  }

  &__list {
    @extend .section-mb-50;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;

    @include m-b-tablet-lg-down {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m-b-mobile-lg-down {
      grid-template-columns: 1fr;
    }
  }
}
