//#test{visibility:hidden;}
.text-svg {
  overflow: visible;
  margin-right: 20px;
}

.text {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 300;
  fill:#ffffff;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
}

.articles {
  &-page-container {
    .blob {
      &--right {
        top: 135px;
        left: 65%;

        @include m-b-laptop-down {
          top: 0;
          left: 55%;
        }

        @include m-b-mobile-lg-down {
          left: 10%;
          opacity: 0.5;
        }
      }

      &--left {
        position: absolute;
        top: 200px;
        left: -70px;

        @include m-b-laptop-down {
          display: none;
        }
      }
    }
  }

  &__wrapper {
    @extend .section-padding-lg;
  }

  &__content {
    @extend .flex-column;
    @extend .section-mb-50;
    align-items: center;

    button {
      min-width: 260px;
    }
  }

  &__list {
    @extend .section-mb-50;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;

    @include m-b-tablet-lg-down {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m-b-mobile-lg-down {
      grid-template-columns: 1fr;
    }
  }
}
