//.burger
  .burger__line.burger__line--top
  .burger__line.burger__line--middle
  .burger__line.burger__line--bottom


button(type="button" data-modal-anchor="main-modal").lw-button-main.burger.nav-opener Меню


