button(type="button" data-modal-anchor="main-modal").lw-button-main.burger.nav-opener
  span.burger__lines
    span.burger-line.burger-line--top
    span.burger-line.burger-line--middle
    span.burger-line.burger-line--bottom

  span.burger__title Меню
