-
  const navList = [
    {url: 'index.html', title: 'Главная'},
    {url: 'services.html', title: 'Услуги'},
    {url: 'portfolio.html', title: 'Портфолио'},
    {url: 'about.html', title: 'О нас'},
    {url: 'contacts.html', title: 'Контакты'},
    {url: 'articles.html', title: 'Статьи'},
    {url: 'vacancies.html', title: 'Вакансии'},
    {url: 'prices.html', title: 'Цены'}
  ]

nav.nav
  .nav__wrapper
    button(type="button").nav__closer
      svg(width="64" height="64")
        use(xlink:href="./assets/sprite.svg#icon-close")
    ul.nav__list
      each item in navList
        li.nav__list-item
          a(href= item.url)= item.title
