-
  const navList = [
    {url: 'index.html', title: 'Главная'},
    {url: 'services.html', title: 'Услуги'},
    {url: 'portfolio.html', title: 'Портфолио'},
    {url: 'about.html', title: 'О нас'},
    {url: 'contacts.html', title: 'Контакты'},
    {url: 'articles.html', title: 'Статьи'},
    {url: 'vacancies.html', title: 'Вакансии'},
    {url: 'prices.html', title: 'Цены'}
  ]

nav.nav
  .nav__wrapper
    //button(type="button").nav__closer
      svg(width="64" height="64")
        use(xlink:href="./assets/sprite.svg#icon-close")

    .nav__blobs-container
      <svg class="nav-blob nav-blob--left" width="364" height="344" viewBox="0 0 364 344" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="nav-blob-path" data-path-to="M339.5 93C366.446 147.167 411.836 178.399 392 230C372.164 281.601 383.932 321.857 332.5 362.07C281.068 402.283 223.828 453.905 162 417.5C100.171 381.095 65.0882 351.547 53.5017 279.779C41.9151 208.011 -30.1564 136.874 15.9987 73.5704C62.1539 10.2666 129.917 -14.9955 201.5 10.5C273.083 35.9955 312.554 38.8327 339.5 93Z" d="M334.044 264.486C306.156 307.328 269.175 332.588 223.1 340.267C177.025 347.946 128.323 341.682 76.9938 321.473C25.6646 301.265 0 260.848 0 200.223C0 139.598 23.6437 89.6839 70.9313 50.4797C118.219 11.2755 174.802 -5.09322 240.681 1.37345C306.56 7.84012 345.562 42.5984 357.688 105.648C369.812 168.698 361.931 221.644 334.044 264.486Z" fill="#4A3FA0" fill-opacity="0.1"/>
      </svg>

      <svg class="nav-blob nav-blob--middle" width="732" height="609" viewBox="0 0 732 609" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="nav-blob-path" data-path-to="M668.503 306.098C653.253 386.008 665.176 451.95 590.756 480.62C516.336 509.29 459.47 496.04 382 518C304.53 539.96 207.066 568.46 127.766 526.37C48.4663 484.28 61.1 444.45 55 356C48.9 267.55 -20.9481 259.59 6.50187 187C33.9519 114.41 76.9827 21.41 157.503 33C238.023 44.59 291.533 37.8886 338.503 14.0986C385.473 -9.69143 485.673 0.0782108 548.503 19.5982C611.333 39.1182 625.73 85.23 660.5 150.5C695.27 215.77 683.753 226.188 668.503 306.098Z" d="M727.425 358.815C712.175 438.725 667.34 493.015 592.92 521.685C518.5 550.355 442.555 575.67 365.085 597.63C287.615 619.59 209.23 609.525 129.93 567.435C50.6297 525.345 7.92965 460.075 1.82965 371.625C-4.27035 283.175 6.40465 202.655 33.8547 130.065C61.3047 57.4752 115.29 26.9752 195.81 38.5652C276.33 50.1552 340.075 44.0552 387.045 20.2652C434.015 -3.52481 488.915 -5.65981 551.745 13.8602C614.575 33.3802 663.375 75.7752 698.145 141.045C732.915 206.315 742.675 278.905 727.425 358.815Z" fill="#4315FF" fill-opacity="0.2"/>
      </svg>

      <svg class="nav-blob nav-blob--right" width="404" height="459" viewBox="0 0 404 459" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="nav-blob-path" data-path-to="M304.124 310.776C276.237 353.618 248.575 338.821 202.5 346.5C156.425 354.179 124.453 343.208 73.124 323C21.7949 302.792 0 240.125 0 179.5C0 118.875 25.8365 106.48 73.124 67.2762C120.412 28.0721 152.426 -4.81641 218.305 1.65026C284.184 8.11692 337.499 94.7264 349.624 157.776C361.749 220.826 332.012 267.935 304.124 310.776Z" d="M380.328 130.556C407.274 184.724 410.829 237.608 390.993 289.209C371.156 340.81 335.522 386.717 284.09 426.93C232.657 467.143 176.027 469.047 114.198 432.642C52.3698 396.237 15.6622 342.151 4.07565 270.383C-7.51092 198.614 9.77334 131.078 55.9284 67.7747C102.084 4.47086 160.952 -14.4333 232.535 11.0622C304.118 36.5576 353.382 76.389 380.328 130.556Z" fill="#4A3FA0" fill-opacity="0.1"/>
      </svg>

    ul.nav__list
      each item in navList
        li.nav__list-item
          a(href= item.url)= item.title
