ul.social
  li.social__item
    a(href="#" rel="noopener noreferrer nofollow" aria-label="Мы в телеграме")
      svg(width="70" height="70")
        use(xlink:href="./assets/sprite.svg#icon-tg")
  li.social__item
    a(href="#" rel="noopener noreferrer nofollow" aria-label="Мы вКонтакте")
      svg(width="70" height="70")
        use(xlink:href="./assets/sprite.svg#icon-vk")
  li.social__item
    a(href="#" rel="noopener noreferrer nofollow" aria-label="Мы в whatsapp")
      svg(width="70" height="70")
        use(xlink:href="./assets/sprite.svg#icon-whapp")
