include ../../mixins/section-header
section.lw-page-top.lw-section.contacts
  .container
    .contacts__wrapper
      h1.visually-hidden Наши контакты
      +section-header({
        class: 'contacts__header',
        pagename: 'Контакты',
        title: 'Как с нами <span>связаться</span>',
        desc: ['Вы можете связаться с нами любым удобным способом.']
      })

      .contacts__content
        .contacts__content-field
          span.lw-text-sec.lw-text-xs.lw-fw-light Телефон:
          a(href="tel:89062723744").lw-text-lg.lw-fw-bold.contacts__link 8 906 272 37 44
        .contacts__content-field
          span.lw-text-sec.lw-text-xs.lw-fw-light Электронная почта:
          a(href="mailto:info@littleweb.ru").lw-text-lg.lw-fw-bold.contacts__link info@littleweb.ru
        .contacts__content-field
          span.lw-text-sec.lw-text-xs.lw-fw-light Мы в соцсетях:

          include ../../components/social
