extends layouts/main-layout.pug

block variables
  -
    const title = "LittleWeb"
    const desc = "LittleWeb - создание сайтов под ключ."
    const keywords = ""

block page-content
  include ./layouts/header
  +header('header--inner')
  #smooth-wrapper
    #smooth-content
      .barba-container(data-barba="container" data-barba-namespace="about-page")
        main.lw-bottom-lined(data-barba="container" data-barba-namespace="about-page")
          include ./sections/about-page/about
          include ./sections/about-page/stuff
          include ./sections/about-page/workflow
          include ./sections/common/request
        include ./layouts/main-footer

block modals
