extends layouts/inner-layout.pug

block variables
  -
    const title = "LittleWeb"
    const desc = "LittleWeb - создание сайтов под ключ."
    const keywords = ""

block page-content

  main(data-barba="container" data-barba-namespace="about").lw-bottom-lined
    include ./sections/about-page/about
    include ./sections/about-page/stuff
    include ./sections/about-page/workflow
    include ./sections/common/request

block modals

