extends layouts/inner-layout.pug

block variables
  -
    const title = "LittleWeb"
    const desc = "LittleWeb - создание сайтов под ключ."
    const keywords = ""
    const footerType = "truncated"

block page-content

  main(data-barba="container" data-barba-namespace="home")
    .page-container.articles-page-container
      include ./sections/articles-page/articles
      include ./sections/common/request

      <svg class="blob blob--left" width="371" height="471" viewBox="0 0 371 471" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M46.4457 57.6349C73.2339 -20.5478 126.223 -1.88343 149.368 17.2216C441.707 189.162 393.756 396.032 292.268 452.261C142.535 535.219 -74.9284 319.616 25.7423 238.304C126.413 156.991 12.9604 155.363 46.4457 57.6349Z" fill="#4A3FA0"/>
      </svg>

      <svg class="blob blob--right" width="560" height="432" viewBox="0 0 560 432" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32.4489 165.969C-65.0436 224.477 80.2426 352.852 165.072 409.726C268.18 478.854 386.962 374.382 520.967 233.167C688.473 56.6477 256.179 -47.4019 189.904 22.2408C123.629 91.8835 154.314 92.8338 32.4489 165.969Z" fill="#947BFB"/>
      </svg>

block modals
