extends layouts/inner-layout.pug

block variables
  -
    const title = "LittleWeb"
    const desc = "LittleWeb - создание сайтов под ключ."
    const keywords = ""
    const footerType = "truncated"

block page-content

  main(data-barba="container" data-barba-namespace="home").lw-bottom-lined
    include ./sections/articles-page/articles
    include ./sections/common/request

block modals
