extends layouts/main-layout.pug

block variables
  -
    const title = "LittleWeb"
    const desc = "LittleWeb - создание сайтов под ключ."
    const keywords = ""

block page-content
  include ./layouts/header
  +header('header--main')
  #smooth-wrapper
    #smooth-content
      .barba-container(data-barba="container" data-barba-namespace="home-page")
        main.lw-bottom-lined
          include ./sections/index-page/hero
        include ./layouts/main-footer

block modals
