extends layouts/inner-layout.pug

block variables
  -
    const title = "LittleWeb"
    const desc = "LittleWeb - создание сайтов под ключ."
    const keywords = ""

block page-content
  main(data-barba="container" data-barba-namespace="home").lw-bottom-lined
    include ./sections/services-page/services
    include ./sections/services-page/stack
    include ./sections/common/request

block modals
