mixin footer(type = null)
  footer.footer
    .container
      .footer__wrapper
        .footer__top
          include ../components/footer-nav

        .footer__bottom(class= `${type === "truncated" ? 'footer__bottom--truncated' : ''}`)
          include ../components/footer-logo

          .footer__info
            span.lw-fw-light Мы в соцсетях:
            include ../components/social

