mixin section-header(options)
  .lw-section-header(class= options.class? options.class : null)
    span.lw-text-sm.lw-fw-bold!= options.pagename
    h2.lw-text-xl.lw-colored-text.lw-fw-bold!= options.title
    each desc in options.desc
      p.lw-text-xs.lw-fw-light.lw-text-opacity!= desc
