mixin service-card(service)
  .service-card
    svg(width="76" height="76")
      use(xlink:href=`./assets/sprite.svg#icon-${service.icon}`)
    h3.lw-text-primary!= service.title
    p.lw-text-sec.lw-fw-light.lw-text-opacity!= service.desc
