section.lw-section.parallax
  .parallax__wrapper
    h1.lw-text-xxl.lw-text-sec.lw-fw-bold
      span.b
        span.i Lorem ipsum
      span.b
        span.i dolor sit amet
      span.b
        span.i consectetur
  .parallax__mask
    .parallax__mask-overflow
    .parallax__mask-inner
      h2.lw-text-xxl.lw-text-sec.lw-fw-bold.bis
        span.b
          span.i Lorem ipsum
        span.b
          span.i dolor sit amet
        span.b
          span.i consectetur

section.under-section
