include ../../mixins/section-header

section.lw-page-top.lw-section.about
  .container
    .about__wrapper
      h1.visually-hidden О компании LittleWeb
      +section-header({
        class: 'about__header',
        pagename: 'О нас',
        title: 'Кто <span>мы</span>',
        desc: ['Содружество людей НЕравнодушных к WEB.', 'Стараемся оперативно решать поставленные перед нами задачи, <br/>развиваться и быть в курсе последних тенденций разработки.']
      })

      ul.about__features
        li.about__features-item
          svg(width="150" height="98")
            use(xlink:href="./assets/sprite.svg#icon-01")
          p.lw-text-primary.lw-fw-bold Честность
          span.lw-text-sec.lw-fw-light по отношению к себе и клиентам

        li.about__features-item
          svg(width="150" height="98")
            use(xlink:href="./assets/sprite.svg#icon-02")
          p.lw-text-primary.lw-fw-bold Порядочность?
          span.lw-text-sec.lw-fw-light тут тоже что то написать

        li.about__features-item
          svg(width="150" height="98")
            use(xlink:href="./assets/sprite.svg#icon-03")
          p.lw-text-primary.lw-fw-bold Открытость?
          span.lw-text-sec.lw-fw-light тут что то написать

      <svg class="blob blob--right" width="402" height="540" viewBox="0 0 402 540" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M32.4489 165.968C-65.0436 224.476 80.2426 352.851 165.072 409.725C268.18 478.853 386.962 374.381 520.967 233.166C688.473 56.6467 256.179 -47.4029 189.904 22.2398C123.629 91.8825 154.314 92.8328 32.4489 165.968Z" fill="#947BFB"/>
      </svg>
