include ../../mixins/section-header

section.lw-section.workflow
  .container
    .workflow__wrapper
      +section-header({
        class: 'workflow__header',
        pagename: 'О нас',
        title: 'Рабочий <span>процесс</span>',
        desc: ['Как мы создаем успешные проекты']
      })
