section.lw-section.hero
  .container-fluid
    .hero__bg
      <svg class="overlay" width="100%" height="100%" viewBox="0 0 800 500" preserveAspectRatio="xMinYMin slice">
        <path class="path-anim" d="M473.5,314Q450,378,397,417Q344,456,286,429Q228,402,168,408Q108,414,78.5,361.5Q49,309,39.5,247.5Q30,186,81,150Q132,114,181,112.5Q230,111,274.5,105.5Q319,100,389,108Q459,116,478,183Q497,250,473.5,314Z" data-path-to="M476,315.5Q454,381,401,422.5Q348,464,285.5,452Q223,440,161,432Q99,424,66,369Q33,314,27.5,248.5Q22,183,68,138Q114,93,169,80.5Q224,68,278.5,68.5Q333,69,396,92Q459,115,478.5,182.5Q498,250,476,315.5Z" fill="#EC9A29"/>
      </svg>

      <svg class="underlay" width="100%" height="100%" viewBox="0 0 800 500" preserveAspectRatio="xMinYMin slice" x="150" y="0">
          <path d="M443,306.5Q426,363,374,385.5Q322,408,270,439Q218,470,159.5,446Q101,422,73.5,366Q46,310,66,256Q86,202,96.5,143.5Q107,85,167.5,92.5Q228,100,285,74Q342,48,398.5,83Q455,118,457.5,184Q460,250,443,306.5Z" data-path-to="M465.5,313Q447,376,394,413Q341,450,278.5,468.5Q216,487,154,459.5Q92,432,58,374Q24,316,32.5,252.5Q41,189,68,130Q95,71,157.5,56Q220,41,284.5,37Q349,33,403.5,74.5Q458,116,471,183Q484,250,465.5,313Z" fill="#fab1a0"></path>
      </svg>

      a(href="test").lw-text-md Меню

    ul.menu-list
      li.menu-item
        a(href="") - О нас

      li.menu-item
        a(href="") - Портфолио

      li.menu-item
        a(href="") - Наши клиенты

      li.menu-item
        a(href="") - Контакты
