section.svg-shape(style="margin-top: 1000px;")
  .container
    <svg class="image-clip" width="500px" height="750px" viewBox="0 0 500 750">
      <defs>
        <clipPath id="shape1">
          <path class="path-anim" d="M 0 0 L 500 0 C 500 599.6 500 677.1 500 750 L 0 750 C 0 205 0 105 0 0 Z" data-path-to="M 0 0 L 500 0 C 331 608 485 551 500 750 L 0 750 C 120 281 7 296 0 0 Z" />
        </clipPath>
      </defs>
      <image clip-path="url(#shape1)" xlink:href="./assets/img/1.jpg" x="0" y="0" width="500" height="750" />
    </svg>

    <svg class="image-clip" width="500px" height="750px" viewBox="0 0 500 750">
      <defs>
        <clipPath id="shape3">
          <path class="path-anim" d="M 0 0 L 300 0 C 500 599.6 500 677.1 500 750 L 0 750 C 0 205 0 105 0 0 Z" data-path-to="M 0 0 L 500 0 C 331 608 485 551 500 750 L 0 750 C 120 281 7 296 0 0 Z" />
        </clipPath>
      </defs>
      <image clip-path="url(#shape3)" xlink:href="./assets/img/1.jpg" x="0" y="0" width="500" height="750" />
    </svg>

    <svg class="image-clip" width="500px" height="750px" viewBox="0 0 500 750">
      <defs>
        <clipPath id="shape4">
          <path class="path-anim" d="M 0 0 L 500 0 C 500 599.6 500 677.1 500 750 L 0 750 C 0 205 0 105 0 0 Z" data-path-to="M 0 0 L 500 0 C 331 608 485 551 500 750 L 0 750 C 120 281 7 296 0 0 Z" />
        </clipPath>
      </defs>
      <image clip-path="url(#shape4)" xlink:href="./assets/img/1.jpg" x="0" y="0" width="500" height="750" />
    </svg>

    <svg class="image-clip" width="500px" height="750px" viewBox="0 0 500 750">
      <defs>
        <clipPath id="shape5">
          <path class="path-anim" d="M 0 0 L 500 0 C 500 599.6 500 677.1 500 750 L 0 750 C 0 205 0 105 0 0 Z" data-path-to="M 0 0 L 500 0 C 331 608 485 551 500 750 L 0 750 C 120 281 7 296 0 0 Z" />
        </clipPath>
      </defs>
      <image clip-path="url(#shape5)" xlink:href="./assets/img/1.jpg" x="0" y="0" width="500" height="750" />
    </svg>

    <svg class="image-clip" width="500px" height="750px" viewBox="0 0 500 750">
      <defs>
        <clipPath id="shape6">
          <path class="path-anim" d="M 0 0 L 500 0 C 500 599.6 500 677.1 500 750 L 0 750 C 0 205 0 105 0 0 Z" data-path-to="M 0 0 L 500 0 C 331 608 485 551 500 750 L 0 750 C 120 281 7 296 0 0 Z" />
        </clipPath>
      </defs>
      <image clip-path="url(#shape6)" xlink:href="./assets/img/1.jpg" x="0" y="0" width="500" height="750" />
    </svg>

    <svg class="image-clip" width="500px" height="750px" viewBox="0 0 500 750">
      <defs>
        <clipPath id="shape7">
          <path class="path-anim" d="M 0 0 L 500 0 C 500 599.6 500 677.1 500 750 L 0 750 C 0 205 0 105 0 0 Z" data-path-to="M 0 0 L 500 0 C 331 608 485 551 500 750 L 0 750 C 120 281 7 296 0 0 Z" />
        </clipPath>
      </defs>
      <image clip-path="url(#shape7)" xlink:href="./assets/img/1.jpg" x="0" y="0" width="500" height="750" />
    </svg>
