.stack {
  &__wrapper {
    @extend .section-padding;
  }

  &__list {
    &-item {
      margin-bottom: 20px;
      span {
        display: block;
        margin-bottom: 24px;
      }

      svg {
        stroke: var(--purple-4);
        fill: transparent;
        margin-bottom: 10px;
      }
    }
  }

  &__header {
    padding-right: 700px;
  }

  &__content {
    position: relative;
    display: flex;
    margin-top: -82px;

    &::before {
      position: absolute;
      top: 50px;
      left: -90px;
      z-index: -1;
      content: '';

      width: 100%;
      height: 100%;

      background-image: url("../assets/img/stack_bg@1x.png");
      background-repeat: no-repeat;
    }

    picture {
      display: flex;
      width: 100%;
      height: 100%;
      flex-grow: 1;
      margin-top: 100px;
    }
  }

  &__tech {
    @extend .flex-wrap;
    &-item {
      @extend .flex-centered-content;
      flex-direction: column;
      margin-right: 20px;
    }
  }
}
