.stack {
  &__wrapper {
    @extend .section-padding;

    @extend .section-padding;
    display: grid;

    grid-template-columns: auto 700px;
    grid-template-rows: auto;
    gap: 70px;
  }

  &__header {
    grid-column: 1/3;
  }

  &__list {
    &-item {
      margin-bottom: 20px;
      span {
        display: block;
        margin-bottom: 24px;
      }

      svg {
        stroke: var(--purple-4);
        fill: transparent;
        margin-bottom: 10px;
      }
    }
  }

  &__tech {
    @extend .flex-wrap;
    &-item {
      @extend .flex-centered-content;
      flex-direction: column;
      margin-right: 20px;
    }
  }
}
