include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""
    const namespace = ""

html(lang="ru")
  +head(title, desc, keywords)

  body(data-barba="wrapper").nojs
    include ./inner-header

    #smooth-wrapper
      #smooth-content
        block page-content

        .end-separator(aria-hidden="true")
        include ./main-footer

    include ../components/barba_transition
    include ../components/custom_cursor

    block modals
