include ../mixins/footer
include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""
    const namespace = ""
    const footerType = ""

html(lang="ru")
  +head(title, desc, keywords)

  body(data-barba="wrapper").nojs
    include ./inner-header

    block page-content

    +footer(footerType)

    include ../components/barba_transition
    include ../components/custom_cursor

    block modals
