include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""
    const namespace = ""

html(lang="ru")
  +head(title, desc, keywords)

  body(data-barba="wrapper").nojs
    #smooth-wrapper
      #smooth-content
        include ./inner-header

        block page-content

        include ./main-footer

    include ../components/barba_transition
    include ../components/custom_cursor

    block modals
