include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""
    const namespace = ""

html(lang="ru")
  +head(title, desc, keywords)

  body(data-barba="wrapper").loading.nojs.hero-body
    include ../components/loader
    include ./header
    +header('header--main')

    #smooth-wrapper
      #smooth-content
        block page-content

    include ../components/barba_transition
    include ../components/custom_cursor

    block modals
