.contacts {
  &-page-container {
    .blob {
      &--right {
        top: 10vh;
        left: 83%;

        @include m-b-laptop-down {
          top: 0;
          left: 55%;
        }
        @include m-b-mobile-lg-down {
          left: 10%;
          opacity: 0.5;
        }
      }

      &--left {
        position: absolute;
        top: 25vh;
        left: -70px;


        @include m-b-laptop-down {
          display: none;
        }
      }
    }

    & > .footer {
      span {
        display: none;
      }
    }
  }

  &__wrapper {
    @extend .section-padding-lg;
  }

  &__header {
    @extend .section-mb-100;
  }

  &__content {
    @extend .flex-wrap;
    @extend .section-mb-50;

    &-field {
      @extend .flex-column;
      margin-bottom: 40px;
      width: 50%;
      min-width: 300px;

      & > span {
        margin-bottom: 12px;
      }

      & > a {
        /*@extend .flex-wrap;
        position: relative;
        align-items: center;*/
        color: var(--white-color);

        /*svg {
          width: clamp(32px, 10vw, 40px);
          margin-right: 15px;
          fill: var(--secondary-color);
        }*/
      }
    }
  }

  .blob--right {
    position: absolute;
    top: 15vh;
    left: 100%;
  }

  .blob--left {
    position: absolute;
    top: 30vh;
    left: -30%;
  }
}
