.contacts {
  background-image: url('../assets/img/hero_bg@1x.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    @extend .section-padding-lg;
  }

  &__header {
    @extend .section-mb-100;
  }

  &__content {
    @extend .flex-wrap;
    @extend .section-mb-50;

    .blob {
      &--left {
        top: 250px;
        left: -10%;

        @include m-b-mobile-lg-down {
          left: -20%;
        }
      }

      &--right {
        top: 75px;
        left: 80%;
      }
    }

    &-field {
      @extend .flex-column;
      margin-bottom: 40px;
      width: 50%;
      min-width: 300px;

      & > span {
        margin-bottom: 12px;
      }

      & > a {
        color: var(--white-color);
      }
    }
  }
}
