
.hero {
  height: fit-content;
  width: 100vw;
  height: 100vh;
  min-height: 768px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    svg {
    background: transparent;
    transform: rotateZ(90deg) scaleX(0.75) scaleY(1.33333);
    }
  }

  .container,
  &__wrapper {
    height: inherit;
    min-height: inherit;
  }

  &__wrapper {
    @extend .section-padding;
    display: flex;
  }

  &__content {
    @extend .flex-column;
    @extend .flex-centered-content;

    width: 100%;
    max-width: 680px;
    margin: auto;

    z-index: 11;
  }

  &__logo {
    margin-bottom: 35px;
  }

  &__title,
  &__desc {
    text-align: center;
    color: var(--white-color);
  }

  &__title {
    font-weight: 900;
    margin-bottom: 40px;
    overflow: hidden;
  }

  &__desc {
    font-weight: 300;
    margin-bottom: 40px;
  }

  &__btn {
    width: 240px;
    height: 44px;
  }
}
/*gsap start*/
body:not(.nojs) {
  .hero__title span {
    overflow: hidden;
    display: block;
    span {
      display: inline-block;
      transform: translateY(120%);
    }
  }

  .hero__desc {
    opacity: 0;
  }

  .hero__btn {
    width: 20px;
    transform: translateY(100vh);
    span {
      opacity: 0;
    }
  }

  .hero__logo {
    opacity: 0;
    transform: translateY(50px);
  }
}
/*gsap end*/

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: var(--hero-block-clip);
  background: url('../assets/img/bg.png');
}

.hero__blobs {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  .blob {
    position: absolute;
    overflow: visible;
  }

  .blob--left {
    width: 500px;
    height: 400px;
    top: 45%;
    left: 70%;
  }

  .blob--right {
    width: 400px;
    height: 400px;
    top: 10%;
    left: 17%;
    transform: translate(-50%, -50%);
  }
}

/*.hero__blobs {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;

  .blob {
    position: absolute;
    top: 0;

    height: 100%;
    outline: 1px solid red;

    svg {
      position: absolute;
      overflow: visible;
    }

    &--left {
      width: 50%;
      left: 0;
      svg {
        top: 46%;
        left: 0;
      }
    }

    &--bottom {
      width: 50%;
      left: 50%;
      svg {
        top: 60%;
        left: 58%;
      }
    }
  }
}*/
