
.hero {
  height: fit-content;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 768px;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url('../assets/img/bg.png');

  @include m-b-tablet-lg-down {
    min-height: 534px;
  }

  @include m-b-mobile-lg-down {
    min-height: 434px;
  }

  .container,
  &__wrapper {
    height: inherit;
    min-height: inherit;
  }

  &__wrapper {
    display: flex;
    flex-direction: column
  }

  &__content {
    @extend .flex-column;
    @extend .flex-centered-content;
    @extend .section-padding;

    width: 100%;
    max-width: 680px;
    margin: auto;

    z-index: 11;
  }

  &__logo {
    margin-bottom: 35px;
    width: clamp(234px, 30vw, 266px);
    height: clamp(44px, 10vw, 56px);

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__title,
  &__desc {
    text-align: center;
    color: var(--white-color);
  }

  &__title {
    font-weight: 900;
    margin-bottom: 40px;
    overflow: hidden;

    span {
      overflow: hidden;
      display: flex;
      flex-direction: column;

      span {
        display: inline-block;
      }
    }
  }

  &__desc {
    font-weight: 300;
    margin-bottom: 40px;
  }

  &__btn {
    width: 240px;
  }
}

.wave-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero__blobs {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;

  .blob {
    position: absolute;
    overflow: visible;
    transform: translate(-50%, -50%);
  }

  .blob--right {
    width: 500px;
    height: 400px;
    top: 65%;
    left: 85%;

    @include m-b-tablet-lg-down {
      left: 100%;
    }

    @include m-b-mobile-lg-down {
      display: none;
    }
  }

  .blob--left {
    width: 400px;
    height: 400px;
    top: 25%;
    left: 17%;
  }
}
