include ../../mixins/section-header
include ../../mixins/service-card
include ../../content/services-page-content/service-types
include ../../content/services-page-content/service-features

section.lw-page-top.lw-section.services
  .container
    .services__wrapper
      h1.visually-hidden Услуги
      .services__field
        +section-header({
          class: 'services__header',
          pagename: 'Услуги',
          title: 'Что мы <span>делаем</span>',
          desc: ['Сайты. От простых лендингов <br/> до крупных&nbsp;интернет-магазинов.', 'А еще мы умеем делать web-приложения </br>и&nbsp;системы автоматизации для&nbsp;вашего&nbsp;бизнеса.']
        })

        .services__features
          ul.services__features-list
            each feature in serviceFeatures
              li.services__features-item
                svg(width="60" height="60")
                  use(xlink:href=`./assets/sprite.svg#icon-${feature.icon}`)
                h3.lw-text-primary!= feature.title
                p.lw-text-sec.lw-fw-light.lw-text-opacity!= feature.desc

          <svg aria-hidden="true" class="blob blob--left" width="403" height="541" viewBox="0 0 403 541" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M348.968 62.7244C344.168 -50.8756 161.968 15.3911 71.4676 62.7244C-38.5323 120.257 -3.53239 274.524 56.4676 459.724C131.468 691.224 429.468 361.224 399.968 269.724C370.468 178.224 354.968 204.724 348.968 62.7244Z" fill="#4A3FA0"/>
          </svg>

          button(type="button").lw-button-main Оставить заявку
      .services__field
        .services__types
          ul.services__types-list
            each serviceType in serviceTypes
              li.services__types-item
                +service-card(serviceType)

          <svg aria-hidden="true" class="blob blob--right" width="300" height="275" viewBox="0 0 300 275" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.6807 15.7058C47.4452 -27.1458 180.649 25.7056 246.149 78.2057C311.649 130.706 343.746 257.951 184.163 272.093C-15.3154 289.771 20.6807 213.378 20.6807 174.235C20.6807 135.092 -25.8509 90.2057 20.6807 15.7058Z" fill="#8468F6"/>
          </svg>

          button(type="button").lw-button-main Оставить заявку
