include ../../mixins/section-header
include ../../mixins/service-card
include ../../content/service-types
include ../../content/service-features

section.lw-section.services
  .container
    .services__wrapper
      h1.visually-hidden Услуги
      .services__field
        +section-header({
          class: 'services__header',
          pagename: 'Услуги',
          title: 'Что мы <span>делаем</span>',
          desc: ['Сайты. От простых лендингов <br/> до крупных&nbsp;интернет-магазинов.', 'А еще мы умеем делать web-приложения </br>и&nbsp;системы автоматизации для&nbsp;вашего&nbsp;бизнеса.']
        })

        .services__features
          ul.services__features-list
            each feature in serviceFeatures
              li.services__features-item
                svg(width="60" height="60")
                  use(xlink:href=`./assets/sprite.svg#icon-${feature.icon}`)
                h3.lw-text-primary!= feature.title
                p.lw-text-sec.lw-fw-light.lw-text-opacity!= feature.desc

        button(type="button").lw-button-main Оставить заявку
      .services__field
        ul.services__type
          each serviceType in serviceTypes
            li.services__type-item
              +service-card(serviceType)
