include ../../mixins/section-header
include ../../mixins/service-card

-
  const servicesFeatures = [
    {icon: 'desktop-info', title: "Наводим порядок в существующих проектах", desc: "Думаем о UX, добавляем анимации, создаем удобный адаптив, делаем редизайн, добавляем необходимый функционал."},
    {icon: 'desktop-info', title: "Быстро запускаем новые проекты в работу", desc: " Тут поменять на примерно тоже самое!!<br/>У нас отлаженные процессы оценки проекта, согласования договора и NDA. Работаем с электронным документооборотом."},
    {icon: 'desktop-info', title: "Сокращаем расходы на производство", desc: "Тут не знаю что написать.. </br/>Стараемся быть гибкими. Подстраиваемся под ваши требования и процессы."}
  ]

-
  const servicesTypes = [
    {icon: 'desktop-info', title: 'Лендинги', desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'},
    {icon: 'desktop-info', title: 'Сайт-визитка', desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'},
    {icon: 'desktop-info', title: 'Корпоративные сайты', desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'},
    {icon: 'desktop-info', title: 'Интернет магазины', desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'},
    {icon: 'desktop-info', title: 'Web-приложения', desc: 'Короткие и длинные. Адаптив, скорость загрузки, микроанимации, семантика и SEO-френдли разметка.'},
    {icon: 'desktop-info', title: 'Системы автоматизации', desc: 'CRM, ERP, CMS и все такое...'},
  ]
section.lw-section.services
  .container
    .services__wrapper
      .services__field
        +section-header({
          class: 'services__header',
          title: 'Услуги',
          subtitle: 'Что мы <span>делаем</span>',
          desc: 'Сайты наша страсть — от простых лендингов до крупных&nbsp;интернет&nbsp;-&nbsp;магазинов. <br/>А еще мы умеем делать web-приложения и системы&nbsp;автоматизации для&nbsp;вашего&nbsp;бизнеса.'
        })

        .services__features
          ul.services__features-list
            each feature in servicesFeatures
              li.services__features-item
                svg(width="60" height="60")
                  use(xlink:href=`./assets/sprite.svg#icon-${feature.icon}`)
                h3.lw-text-primary!= feature.title
                p.lw-fw-light.lw-text-opacity!= feature.desc

        button(type="button").lw-button-main Оставить заявку
      .services__field
        ul.services__type
          each service in servicesTypes
            li.services__type-item
              +service-card(service)


