include ../../mixins/section-header
include ../../content/stack-list

section.lw-section.stack
  .container
    .stack__wrapper
      +section-header({
        class: 'stack__header',
        pagename: 'Услуги',
        title: 'Что мы <span>используем в работе</span>',
        desc: ['Стек и набор инструментов мы подбираем в зависимости от проекта.']
      })
      .stack__field.stack__field--bg
        picture
          source(srcset="./assets/img/desktop-image@1x.png 1x, ./assets/img/desktop-image@2x.png 2x" type="image/webp")
          img(src="./assets/img/desktop-image@1x.png" srcset="./assets/img/desktop-image@2x.png 2x" alt="Изображение компьютера" width="614" height="703")
      .stack__field
        ul.stack__list
          each item in stackList
            li.stack__list-item
              span.lw-text-primary!= item.title
              if item.list
                ul.stack__tech
                  each tech in item.list
                    li.stack__tech-item
                      svg(class="text-svg gsap-cursor-trigger" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg")
                        g.icon
                          != tech.icon.svg
                        defs
                          path(id= tech.icon.circleID class="circle" d="M55.5 28C55.5 43.1878 43.1878 55.5 28 55.5C12.8122 55.5 0.5 43.1878 0.5 28C0.5 12.8122 12.8122 0.5 28 0.5C43.1878 0.5 55.5 12.8122 55.5 28Z")

                          text(id= tech.icon.textID alignment-baseline="top" class="text")
                            textPath(class="text-path" xlink:href= '#' + tech.icon.circleID)!= tech.title
                        use(xlink:href= '#' + tech.icon.textID)

      //p.lw-fw-bold.lw-text-sm А еще мы умеем подстраиваться под проект и подбирать необходимые для него инструменты.




