include ../../mixins/section-header

-
  const stackList = [
    {
      title: 'Основные технологии с которыми мы работаем',
      list: [
        {icon: 'noimage', desc: 'HTML5/PUG'},
        {icon: 'noimage', desc: 'CSS3/Scss'},
        {icon: 'noimage', desc: 'JavaScript'},
        {icon: 'noimage', desc: 'PHP'},
        {icon: 'noimage', desc: 'Vue.js'},
        {icon: 'noimage', desc: 'GSAP'},
        {icon: 'noimage', desc: 'Gulp'},
        {icon: 'noimage', desc: 'Webpack'},
      ]
    },

    {
      title: 'Создаем макеты с помощью',
      list: [
        {icon: 'noimage', desc: 'Figma'},
        {icon: 'noimage', desc: 'Photoshop'},
        {icon: 'noimage', desc: 'Sketch'},
        {icon: 'noimage', desc: 'Zeplin'}
      ]
    },

    {
      title: '"Натягиваем" проекты на',
      list: [
        {icon: 'noimage', desc: 'Bitrix'},
        {icon: 'noimage', desc: 'Wordpress'},
        {icon: 'noimage', desc: 'Modx Revo'},
      ]
    },

    {
      title: 'Для тестов используем',
      list: [
        {icon: 'noimage', desc: 'Jest'},
        {icon: 'noimage', desc: 'Google Lighthouse'},
        {icon: 'noimage', desc: 'Page Speed'},
        {icon: 'noimage', desc: 'Browser Stack'}
      ]
    },

    {
      title: 'Работаем с',
      list: [
        {icon: 'noimage', desc: 'GitHub'},
        {icon: 'noimage', desc: 'GitLab'},
        {icon: 'noimage', desc: 'FTP'},
      ]
    },

    {
      title: 'А еще мы умеем подстраиваться под проект и подбирать необходимые для него инструменты.'
    }
  ]

section.lw-section.stack
  .container
    .stack__wrapper
      +section-header({
        class: 'stack__header',
        pagename: 'Услуги',
        title: 'Что мы <span>используем в работе</span>',
        desc: ['Стек и набор инструментов мы подбираем в зависимости от проекта.']
      })
      .stack__field.stack__field--bg
        picture
          source(srcset="./assets/img/desktop-image@1x.png 1x, ./assets/img/desktop-image@2x.png 2x" type="image/webp")
          img(src="./assets/img/desktop-image@1x.png" srcset="./assets/img/desktop-image@2x.png 2x" alt="Изображение компьютера" width="614" height="703")
      .stack__field

        //<svg id="test" viewBox="0 0 500 500">
          <path id="circle" d=" M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0" style="fill:transparent"></path>

          <text width="500">
            <textPath alignment-baseline="top" textLength="500" class="text" href="#circle">
              Date una vuelta por nuestros proyectos.
            </textPath>
          </text>
          </svg>

          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M55.5 28C55.5 43.1878 43.1878 55.5 28 55.5C12.8122 55.5 0.5 43.1878 0.5 28C0.5 12.8122 12.8122 0.5 28 0.5C43.1878 0.5 55.5 12.8122 55.5 28Z" stroke="#947BFB"/>
          </svg>




        <svg class="text-svg" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path d="M49.5117 28C49.5117 39.8741 39.8858 49.5 28.0117 49.5C16.1376 49.5 6.51172 39.8741 6.51172 28C6.51172 16.1259 16.1376 6.5 28.0117 6.5C39.8858 6.5 49.5117 16.1259 49.5117 28Z" stroke="#947BFB"/>
            <path d="M20.6043 36.0068L19 18H36.6373L35.0331 35.9971L27.8041 38" fill="#947BFB"/>
            <path d="M27.8203 36.4684V19.4775H35.0298L33.6541 34.8398" fill="#AD9AFC"/>
            <path d="M22.2773 21.6807H27.8194V23.8878H24.6983L24.9025 26.1483H27.8194V28.3506H22.8802L22.2773 21.6807ZM22.9774 29.459H25.1942L25.3498 31.2237L27.8194 31.8849V34.1892L23.2885 32.9252" fill="#10164A"/>
            <path d="M33.3409 21.6807H27.8086V23.8878H33.1367L33.3409 21.6807ZM32.9374 26.1483H27.8086V28.3554H30.531L30.2733 31.2237L27.8086 31.8849V34.1795L32.3297 32.9252" fill="#10164A"/>
          </g>
          <defs>
            <path id="circle" class="circle" d="M55.5 28C55.5 43.1878 43.1878 55.5 28 55.5C12.8122 55.5 0.5 43.1878 0.5 28C0.5 12.8122 12.8122 0.5 28 0.5C43.1878 0.5 55.5 12.8122 55.5 28Z" stroke="#947BFB"/>-->


            <text id="text" alignment-baseline="top" class="text" >
                <textPath class="text-path" xlink:href="#circle">HTML5</textPath>
            </text>
          </defs>
          <use xlink:href="#text"/>
        </svg>

        <svg class="text-svg" width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g>
            <path d="M49.5117 28C49.5117 39.8741 39.8858 49.5 28.0117 49.5C16.1376 49.5 6.51172 39.8741 6.51172 28C6.51172 16.1259 16.1376 6.5 28.0117 6.5C39.8858 6.5 49.5117 16.1259 49.5117 28Z" stroke="#947BFB"/>
            <path d="M20.6043 36.0068L19 18H36.6373L35.0331 35.9971L27.8041 38" fill="#947BFB"/>
            <path d="M27.8203 36.4684V19.4775H35.0298L33.6541 34.8398" fill="#AD9AFC"/>
            <path d="M22.2773 21.6807H27.8194V23.8878H24.6983L24.9025 26.1483H27.8194V28.3506H22.8802L22.2773 21.6807ZM22.9774 29.459H25.1942L25.3498 31.2237L27.8194 31.8849V34.1892L23.2885 32.9252" fill="#10164A"/>
            <path d="M33.3409 21.6807H27.8086V23.8878H33.1367L33.3409 21.6807ZM32.9374 26.1483H27.8086V28.3554H30.531L30.2733 31.2237L27.8086 31.8849V34.1795L32.3297 32.9252" fill="#10164A"/>
          </g>
          <defs>
            <path id="circle2" class="circle" d="M55.5 28C55.5 43.1878 43.1878 55.5 28 55.5C12.8122 55.5 0.5 43.1878 0.5 28C0.5 12.8122 12.8122 0.5 28 0.5C43.1878 0.5 55.5 12.8122 55.5 28Z" stroke="#947BFB"/>-->


            <text id="text2" alignment-baseline="top" class="text" >
                <textPath class="text-path" xlink:href="#circle2">Google LightHouse</textPath>
            </text>
          </defs>
          <use xlink:href="#text2"/>
        </svg>

        ul.stack__list
          each item in stackList
            li.stack__list-item
              span.lw-text-primary!= item.title
              if item.list
                ul.stack__tech
                  each tech in item.list
                    li.stack__tech-item
                      svg(width="44" height="44")
                        use(xlink:href=`./assets/sprite.svg#icon-${tech.icon}`)
                      span.lw-text-xxs!= tech.desc

      //p.lw-fw-bold.lw-text-sm А еще мы умеем подстраиваться под проект и подбирать необходимые для него инструменты.




